version: "3.9"

services:
  backend:
    build: ./backend
    container_name: neurahire_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: neurahire_db
    restart: always
    environment:
      POSTGRES_USER: neurahire
      POSTGRES_PASSWORD: neurahirepassword
      POSTGRES_DB: neurahire_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: